body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.help{
    font-size: 60px;
    padding-top: 3%;
    text-align: center;
}
.inviting{
    background-image:
    linear-gradient(rgba(76, 85, 139, 0.52), rgba(17, 17, 17, 0.73)), url(./images/donation13.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 100vh;
    width: 75%;
    padding-left: 25%;
    padding-top: 15%;
    text-align: center;
}
.text{
    width: 70%;
    text-align: center;
}
.text p{
    padding: 6%;
}
#color{
    color:  #3254a5;
}
.button-type{
    color: aliceblue;
    background-color: #3254a5cb;
    text-decoration: none;
    font-weight: 700;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 10px;  
}
.donation-theory{
    padding-top:2%;
    padding-left: 25%;
    width: 50%;
    text-align: center;
}
.donation-theory p{
    font-size: 19px;
}
.amounts{
    font-size: 30px;
    display: flex;
    font-weight: 700;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 4%;
}
.taka{
    width: 30%;
    margin-left: 11%;
    padding: 1em;
    box-shadow: 10PX 10PX 40px gray;
    border-radius: 5px;
}
#twohundred{
    background-color: rgba(181, 241, 140, 0.342);
}
#donation-ammount {
    font-size: 20px;
    padding-left: 39%;
    border: none;
    margin-left: 7%;
    Width: 50%;
    Background :transparent ;
    border-bottom: 1px solid rgb(32, 32, 32);
}
.plans{
    display: flex;
    width: 100%;
    padding-top: 5%;
}
.plans-1{
    display: flex;
    width :100%;
    height: 33vh;
    border:20px;
    text-align: center;
    padding-left: 35px;
}
.needs{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#logofood{
    background-color: #3254a5cb;
    padding-top:2%;
}
#logoshelter{
    background-color: rgba(181, 241, 140, 0.342);
    padding-top: 1%;
}
#logostudy{
    background-color:  #3254a5cb;
    padding-top: 2%;
}
#foods{
    width: 50%;
}
#cothes{
    width: 50%;
}
.email-type{
    background-color:rgba(181, 241, 140, 0.342);
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom:5%;
    width: 40%;
    padding-left: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px  ;
    box-shadow: 1px 1px 1px 1px gray;
}
#email-id{
  
    background-color: #D9D9D9;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right:12% ;
    border: none;
    border-radius: 5px;
   
}
#email-button{
    background-color: rgba(0, 255, 255, 0.178);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right:3% ;
    border:none;
   
    border-radius: 5px;
}
footer{
    background-color: #2B3856;
    color: aliceblue;
}
.foot{
    display: flex;
    color: aliceblue; 
    height: 100px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 2%;
}
.footer-head{
    padding-left: 45%;
    padding-top: 2%;
    font-style: italic;
    font-family:cursive;
}
.footer-img{
padding-left: 1%;
text-align: center;
font-family:'Times New Roman', Times, serif
}
