body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.help{
    font-size: 60px;
    padding-top: 10%;
}
.inviting{
    background-image:
    linear-gradient(rgba(76, 85, 139, 0.52), rgba(17, 17, 17, 0.73)), url(./images/donation13.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 100vh;
    width: 75%;
    padding-left: 25%;
    padding-top: 15%;
    text-align: center;
}
.text{
    width: 70%;
    text-align: center;
}
.text p{
    padding: 6%;
}
#color{
    color: rgb(14, 14, 14);
}
.button-type{
    color: aliceblue;
    background-color: rgb(146, 34, 34);
    text-decoration: none;
    font-weight: 700;
    font-weight: 700;
    padding: 18px 40px;
    margin-top: 10%;
    border-radius: 10px;  
}
.donation-theory{
    padding-left: 25%;
    width: 50%;
    text-align: center;
}
.donation-theory p{
    font-size: 19px;
}
.amounts{
    font-size: 30px;
    display: flex;
    font-weight: 700;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.taka{
    margin-left: 12%;
    padding: 35px 35px;
    box-shadow: 10PX 10PX 40px gray;
    border-radius: 5px;
}
#twohundred{
    background:linear-gradient(rgba(20, 2, 2, 0.911), rgba(146, 34, 34));
    color:aliceblue;
}
Input {
    font-size: 20px;
    padding-left: 37%;
    border: none;
    margin-left: 7%;
    Width: 50%;
    Background :transparent ;
    border-bottom: 1px solid rgb(32, 32, 32);
    }